/* Filament brand logo as circle */
header img {
    border-radius: 50%;
    object-fit: cover;
    width: 122px;
}

.fi-topbar-start img {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 75px !important;
}
